body {
    background-color: #24b7d5a8;
    text-align: center;
    padding-top: 100px;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 36px;
    color: #f2f2f2;
}

h2 {
    font-size: 28px;
    color: #620404;
}